#.gitignore文件用来对上传的文件进行筛选

#编译出来的class文件不会上传到git
*.class

#package file 包文件不会上传到git上
#.jar 之所以这里没有设置jar包忽略，是因为maven的jar包是在maven本地仓库（E://Maven//LocalWarehouse3）中的
*.war
*.ear

#kdiff3 ignore
*.orig

#maven ignore
target/

#eclipse ignore 和eclipse有关的基础设置不会上传到git上
.settings/
.p

#idea ignore
.idea/
/idea/
*.ipr
*.iml
*.iws

#temp file  临时文件不会上传到git上
*.log
*.cache
*.diff
*.patch
*.tmp

#system ignore
.DS_Store
Thumbs.db
